/* This isn't mine, just testing, belongs to https://uxplanet.org/10-lifesaving-html-css-tricks-for-designers-11bbf76729eb*/
* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  display: block;
  }

.wraptext {
  justify-content: right;
  text-align: justify;
  font-size: 25px;
}

.nav {
  background-color: lightblue;
  overflow: hidden;
  text-align: center;
  list-style-type: none;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.nav a {
  color: purple;
  text-align: center;
  text-decoration:underline;
  font-size: 20px;
  padding: 20px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: #04AA6D;
  color: white;
}

body {
  background-color: lightblue;
} 

h1 {
  color: purple;
  font-family: serif ;
  text-align: center;
  margin-top: 30px;
  margin-left: 40px;
}

h2 {
  color: blue;
  font-family: verdana;
  text-align: center;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 20px;
}

p {
  color: black;
  font-family: verdana;
  text-align: center;
  margin-left: 40px;
  line-height: 1.8;
}

img{
  border: 10px solid rgb(5, 72, 25)
}

.imgleft {
  float: left;
  text-align: left;
  width:50%;
  height:auto;
}

.imgright {
  float: right;
  text-align: right;
  width:50% ;
  height:auto;
}

.automargin {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media screen and (max-width: 500px) {
  .nav a {
    float: none;
    display: block;
  }
}