/* This isn't mine, just testing, belongs to https://uxplanet.org/10-lifesaving-html-css-tricks-for-designers-11bbf76729eb*/
* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  display: block;
  }

.nav {
  background-color: rgb(0, 0, 0);
  display: inline-block;
  overflow: hidden;
}

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: #04AA6D;
  color: white;
}

body {
  background-color: lightblue;
} 

h1 {
  color: purple;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 30px;
  margin-left: 40px;
  
}

h2 {
  color: blue;
  font-family: verdana;
  text-align: center;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 20px;
}

p {
  color: black;
  font-family: verdana;
  text-align: center;
  margin-left: 40px;
  line-height: 1.8;
}

img{
  border: 10px solid rgb(5, 72, 25)
}

.automargin {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
