/* This isn't mine, just testing, belongs to https://uxplanet.org/10-lifesaving-html-css-tricks-for-designers-11bbf76729eb*/
* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  display: block;
  }

body {
  background-color: lightblue;
} 

h1 {
  color: purple;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 20px;
  margin-left: 40px;
  
}

h2 {
  color: blue;
  font-family: verdana;
  text-align: center;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 20px;
}

p {
  color: black;
  font-family: verdana;
  text-align: center;
  margin-left: 40px;
  line-height: 1.8;
}

img{
  border: 8px solid rgb(5, 72, 25)
}

.img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.automargin {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
